<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ page.title }} {{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ site.baseurl }}/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/info/">Info</a></li>
            <li><a href="/errata/">Errata</a></li>
            <li><a href="/examples/">Beispiele</a></li>
            <li><a href="/30questions/">30 Fragen</a></li>
            <li><a href="/books/">Empfehlungen</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/privacy/">Datenschutz</a></li>
            <li><a href="/imprint/">Impressum</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            &copy; 2017 <a href="http://www.n-k.de" target="_blank">{{ site.author }}</a>
          </div>
          <div class="col-sm-12 col-md-3">
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:{{site.social.email}}">{{ site.social.email }}</a>
          </div>
          <div class="col-sm-12 col-md-3">
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/{{site.social.twitter}}" target="_blank">@{{ site.social.twitter }}</a>
          </div>
          <div class="col-sm-12 col-md-3">
            <i class="fa fa-github"></i>
            <a href="https://github.com/{{site.social.github}}" target="_blank">{{ site.social.github }}</a>
          </div>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ site.baseurl }}/js/custom.js"></script>
    {% include analytics.html %}
  </body>
</html>
